<section class="catalogue-list">
  <article class="product">
    <div class="image-info">
      <a href="">
        <img src="/resources/img/product.jpg" alt="">
      </a>
    </div>
    <div class="text-info">
      <div class="title">Title</div>
      <div class="price">Rs. 456</div>
    </div>
  </article>
  <article class="product">
    <div class="image-info">
      <a href="">
        <img src="/resources/img/product.jpg" alt="">
      </a>
    </div>
    <div class="text-info">
      <div class="title">Title</div>
      <div class="price">Rs. 456</div>
    </div>
  </article>
  <article class="product">
    <div class="image-info">
      <a href="">
        <img src="/resources/img/product.jpg" alt="">
      </a>
    </div>
    <div class="text-info">
      <div class="title">Title</div>
      <div class="price">Rs. 456</div>
    </div>
  </article>
  <article class="product">
    <div class="image-info">
      <a href="">
        <img src="/resources/img/product.jpg" alt="">
      </a>
    </div>
    <div class="text-info">
      <div class="title">Title</div>
      <div class="price">Rs. 456</div>
    </div>
  </article>
  <article class="product">
    <div class="image-info">
      <a href="">
        <img src="/resources/img/product.jpg" alt="">
      </a>
    </div>
    <div class="text-info">
      <div class="title">Title</div>
      <div class="price">Rs. 456</div>
    </div>
  </article>
</section>