<section class="catalogue-list clearfix">
  <% _.each(products, function (product) { %>
    <article class="product">
      <div class="image-info">
        <a href="/catalogue/<%= product.get('ProductId')%>">
          <img src="/resources/img/product.jpeg" alt="">
        </a>
      </div>
      <div class="text-info">
        <div class="title">
          <a href="/catalogue/<%= product.get('ProductId')%>/">
            <%= product.get('MovieTitle') %>
          </a>
        </div>
        <div class="price">RS. <%= product.get('Price') %></div>
      </div>
    </article>
  <% }) %>
</section>